<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Doctor</title>
</head>
<body>
    {% extends 'padre.html' %}}
    {% load static %}
    {% block contenidoQueCambia %}
        <form action="formularioDoctor" method="POST">{% csrf_token %}
            
            <p>Apellido: <input type="text" name="apellido"></p>
            <p>Especialidad: <input type="text" name="especialidad"></p>
            
            <input type="submit" value="Enviar">
        </form>
    {% endblock %}
</body>
</html>